<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2019 Fox Council - MIT License - https://github.com/FoxCouncil/FoxIPTV -->

<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FoxIPTV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
    </configSections>
    <!--<System.Windows.Forms.ApplicationConfigurationSection>
      <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FoxIPTV.Properties.Settings>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CCEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TvFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TvFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TvFormOldLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TvFormOldSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TvFormOldState" serializeAs="String">
                <value />
            </setting>
            <setting name="TvFormState" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Borders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChannelEditorOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GuideOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Visibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StereoMode" serializeAs="String">
                <value>0</value>
            </setting>
        </FoxIPTV.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core.Interops" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>